#bodySection input{
    border: 1px solid #7f9db9;
}
.top_line{
    border-top: 2px solid #007fcc;
}
.qyyh_lsddAll{
    width: 100%;
    overflow: hidden;
    /*border-top: 3px solid #007fcc;*/
    padding-bottom: 20px;
}
.qyyh_lsdd{
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: -1px 3px 10px #e5e5e5;
    padding-bottom: 30px;
    -webkit-box-shadow: -1px 3px 10px #e5e5e5;
}
.qyyh_lsdd .nav{
    width: 100%;
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #e5e5e5;
    background: url(../images/qyyh_nav_back.png) no-repeat center;
}
.qyyh_lsdd .nav a{width: 20%;height: 100%;float: left;display: block;border-right: 1px solid #e5e5e5;font-size: 16px;color: #6c6c6c;text-align: center;}
.qyyh_lsdd .nav  .on,.qyyh_lsdd .nav a:hover{color: #0076bd!important;}

.qyyh_wc_titlt{display: block;width: 100%;overflow: hidden;font-size: 17px;color: #2c2c2c;padding: 27px 0 27px 90px;border-bottom: 1px dashed #b7b7b7;}
.qyyh_wc{width: 100%;overflow: hidden;}
.qyyh_wc li{width: 100%;overflow: hidden;padding: 16px 66px 16px 90px;font-size: 13px;color: #6d6d6d;}
.qyyh_wc .hBack{background-color: #f8f8f8;}
.qyyh_wc li span{float: left;}
.qyyh_wc li a{float: right;display: block;width: 111px;text-align: center;line-height: 29px;overflow: hidden;cursor: pointer;}
.qyyh_wclia{background-color: #ff551a;color: #fff;height: 29px;font-size: 14px;}