#bodySection{
    font-size: 12px;
}
.container_24 {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}
.container_24 .grid_11 {
    width: 380px;
}
.container_24 .grid_10 {
    width: 570px;
}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16, .grid_17, .grid_18, .grid_19, .grid_20, .grid_21, .grid_22, .grid_23, .grid_24, .grid_25 {
    display: inline;
    float: left;
    margin-left: 0;
    margin-right: 10px;
    position: relative;
}
.logo {
    color: #4c8de5;
    float: left;
    font-size: 28px;
    font-weight: bolder;
    height: 135px;
    text-align: center;
    width: 200px;
}
#headSection #naviBar {
    background-color: #007fcc;
    height: 50px;
    line-height: 50px;
    position: relative;
}
#headSection #itemNavi > div a.current, #headSection #itemNavi > div a:hover {
    background-color: #007fcc;
}
#headSection #topBar a {
    color: #007fcc;
}


#logindisplay {
    color: black;
    display: block;
    font-size: 1.1em;
    margin: 10px;
    text-align: right;
}
#menucontainer {
    margin-top: 60px;
    text-align: right;
}
#menucontainer ul {
    margin: 0;
    padding: 0 0 2px;
    position: relative;
}
p, ul {
    line-height: 1.6em;
    margin-bottom: 20px;
}
#menucontainer ul.menus li {
    display: inline-block;
    list-style: outside none none;
    margin-right: 1px;
}
#menucontainer ul.menus li a {
    background-color: #e8eef4;
    color: #08c;
    font-weight: bold;
    line-height: 2.8em;
    padding: 10px 20px;
    text-decoration: none;
}
#main {
    background-color: #fff;
    float: left;
    margin-bottom: 30px;
    margin-top: 50px;
    position: relative;
    width: 100%;
}
h2 {
    padding: 0 0 10px;
}
h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-size: 1.5em;
}
table {
    border: 1px solid #e8eef4;
    border-collapse: collapse;
    clear: both;
}
table tbody th {
    text-align: left;
}
table th {
    background-color: #e8eef4;
    border: 1px solid #e8eef4;
    padding: 6px 5px;
    text-align: left;
}
table td {
    border: 1px solid #e8eef4;
    padding: 5px;
}