#bodySection{
    font-size: 14px;
    min-height: 0;
}
.top_line{
	border-top: 2px solid #007fcc;
}
.uc_content {
    margin: auto;
    position: relative;
    width: 1000px;
}
#bodySection .siteNavi {
    margin-left: 0;
}
#bodySection .siteNavi {
    line-height: 36px;
    margin: 4px 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}
#bodySection .uc_content_Navi {
    border-top: 2px solid #007fcc;
    float: left;
    width: 230px;
}
#bodySection .uc_content_Navi .leftNavi {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #e3e3e3 #e3e3e3;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    margin-bottom: 16px;
    padding-bottom: 14px;
}
#bodySection .uc_content_Navi .leftNavi h5.title_top {
    margin: 0 0 4px;
}
#bodySection .uc_content_Navi .leftNavi h5 {
    background: #f8f8f8 none repeat scroll 0 0;
    font-size: 13px;
    line-height: 35px;
    margin: 14px 0 4px;
    padding-left: 20px;
}
#bodySection .uc_content_Navi a {
    display: block;
    line-height: 24px;
    margin-left: 41px;
}
#bodySection .uc_content_Navi a.current {
    color: #007fcc;
}
.r_content {
    margin-left: 250px;
    min-height: 304px;
    width: 750px;
}
.uc_content .r_content .u_data {
    height: 280px;
    position: relative;
}
.r_content .w776 {
    border: 1px solid #e3e3e3;
    margin: 10px 0 0;
    width: 750px;
}
.uc_content .user_pwd {
    margin-top: 0;
}
.pwd_OK {
    background-color: #f5fdf5;
    border: 1px solid #e3e3e3;
    color: #87b618;
    display: none;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
}
.pwd_OK img {
    float: left;
    line-height: 50px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 11px;
}
.Code_Close {
    color: #cbcbcb;
    cursor: pointer;
    float: right;
    font-size: 21px;
    line-height: 23px;
    margin-right: 10px;
}

.uc_content .user_pwd .pwd_content {
    margin-top: 16px;
}
.uc_content .user_pwd .pwd_content .pwd_inputdiv {
    color: #333;
    height: 41px;
    line-height: 41px;
    padding-left: 158px;
    position: relative;
    width: 618px;
}
.uc_content .user_pwd .pwd_content .pwd_inputdiv .tit {
    height: 41px;
    left: 0;
    position: absolute;
    text-align: right;
    top: 0;
    width: 158px;
}
.input {
    border: 1px solid #dddddd;
    border-radius: 5px;
    color: #333;
    height: 30px;
    margin: 4px 10px 0 2px;
    padding: 0 0 0 10px;
    width: 146px;
}
.c999 {
    color: #999 !important;
}
.OKbutton {
    background-color: #007fcc;
    border: 1px solid #007fcc;
    color: #fff;
    font-size: 15px;
    height: 35px;
    margin: 14px 0 25px 160px;
    outline: medium none;
    vertical-align: middle;
    width: 160px;
}

